body {
  background-color: #fbfbfb;
}
@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}

/* Sidebar */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  top: 0;
  overflow: auto;
  float: left;

}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}

}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
.cardHighlight1{
  min-height: 100%;
  margin-top: 50px;
  background-color: transparent!important;
  height: 250px;
  border-radius: 50px !important;
}


.authorName{
  font-family: poppins;
}

#formBox{
  height: 470px;
  width: 350px;
  background-color: whitesmoke;
  border-radius: 10px;
  background-image: url('https://img.buzzfeed.com/buzzfeed-static/static/2020-05/15/13/asset/5ddd925391f1/sub-buzz-872-1589548499-9.jpg?downsize=700%3A%2A&output-quality=auto&output-format=auto');
  background-size: cover;
  background-repeat: no-repeat;
  background-position:  center;
 
}


#ChangePass{
  height: 470px;
  width: 350px;
  background-color: whitesmoke;
  border-radius: 10px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position:  center;
 
}
.cardForm{
  height:  500px;;
  width: 300px;
  animation: myAnim 1s ease 0s 1 normal forwards;
  box-shadow: -11px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -11px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -11px 10px 5px 0px rgba(0,0,0,0.75);
}

#nav-dropdown{
color: white;
}
.viewCard{
  width: 400px;
  height: 500px;
  margin-left: 50px;
 
}
.ProductViewForm{
  animation: myAnim2 1s ease 0s 1 normal forwards;
}


@keyframes myAnim {
  0% {
    opacity: 0;
    transform: rotateX(-70deg);
    transform-origin: bottom;
  }

  100% {
    opacity: 1;
    transform: rotateX(0);
    transform-origin: bottom;
  }
}
@keyframes myAnim2 {
  0% {
    opacity: 0;
    transform: translateY(250px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.formLogin{
  font-family: 'Montserrat', sans-serif;
opacity: 0.9;
}
.formRegister{
  font-family: 'Montserrat', sans-serif;
  opacity: 0.9;
}



.registerForm{
  width: 550px;
  border-radius: 50px;
  margin: auto;
  background-image: url('https://cdn.weartesters.com/wp-content/uploads/2018/07/adidas-alphabounce-instinct-model.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position:  center;

}
.LOGO{
  width: 3rem;
  height: 3rem;
}
.AdminProductForm{
  overflow: hidden;
  height: 200px;
  
}
/* Chrome, Safari, Edge, Opera */

.editProduct{
  background-color: #ececec;
  border-radius: 10px;
  width: 700px;
  height: auto;
  padding: 20px;
  
}
.addProduct{
  background-color: #ececec;
  border-radius: 10px;
  width: 700px;
  height: auto;
  padding: 20px;
}
.file{
  width: 200px !important;
  border: 0;
  
}
.homePage{
  
  height: 1000px;
  background-image: url(https://www.nicekicks.com/files/2021/10/Vanessa-Bryant-KB-24-lead.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:  center;

}

.bannerText{
  font-size: 100px !important;
  padding-top: 300px;
  color: white;
  text-shadow: 2px 3px 3px rgba(114, 5, 128, 1);
  animation: scale-up-center 1s ease 0s 1 normal forwards;
}
.bannerText1{
  text-shadow: 2px 3px 3px rgba(114, 5, 128, 1);
  font-size: 30px !important;
  color: white;
  animation: scale-up-center 1s ease 0s 1 normal forwards;
  
}
.bannerbutton{
background-color:  rgba(114, 5, 128, 1) !important;
color: white !;

}
.bannerbutton:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transition-duration: 0.5s;
}


.highlightsForm{
  height: 900px;
  margin-bottom: 100px;
  background-image: url(https://c.tenor.com/_1Q1UOlJ3_QAAAAd/adidas-shoe.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:  center;
}
.BRAND{
  font-size: 100px;
  text-shadow: -5px 6px 7px rgba(0,0,0,0.6);
}
.Nike{
  background-image: url(https://media.gq.com/photos/5fc90b62fff3e5e56de14296/master/w_1600,c_limit/Nike-Drake-Nocta-Official-02_100572.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:  center;
 color: white;
 font-size: 20px;
 box-shadow: -11px 10px 5px 0px rgba(0,0,0,0.75);
 -webkit-box-shadow: -11px 10px 5px 0px rgba(0,0,0,0.75);
 -moz-box-shadow: -11px 10px 5px 0px rgba(0,0,0,0.75);
}
.Nike:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transition-duration: 0.5s;
}


.Reebok{
  background-image: url(https://footwearnews.com/wp-content/uploads/2018/04/gigi-hadid-reebok.jpg?w=700&h=437&crop=1&resize=700%2C437);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:  center;
 color: white;
 font-size: 20px;
 box-shadow: -11px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -11px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -11px 10px 5px 0px rgba(0,0,0,0.75);

}
.Reebok:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transition-duration: 0.5s;
}

.Adidas{
  background-image: url(https://res.cloudinary.com/project-casting/image/upload/v1632928106/strapi-upload/staging/Adidas_ff4e934a9b.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:  center;
 color: white;
 font-size: 20px;
 box-shadow: -11px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -11px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -11px 10px 5px 0px rgba(0,0,0,0.75);

}
.Adidas:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transition-duration: 0.5s;
}

.Newbalance{
  background-image: url(https://i0.wp.com/cultedge.com/wp-content/uploads/2017/10/crooked-tongues-new-balance-1500-black-beard-01.jpg?zoom=2&resize=1000%2C500&ssl=1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:  center;
 color: white;
 font-size: 20px;
 box-shadow: -11px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -11px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -11px 10px 5px 0px rgba(0,0,0,0.75);
 
}
.Newbalance:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transition-duration: 0.5s;
}

.Sketchers{
  background-image: url(https://www.oneills.com/media/wysiwyg/cms-category-landing/brands/skechers/skechers-mens.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:  center;
 color: white;
 font-size: 20px;
 box-shadow: -11px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -11px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -11px 10px 5px 0px rgba(0,0,0,0.75);
 
}
.Sketchers:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transition-duration: 0.5s;
}

.Onitsukatiger{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJv2Tp1zSKoU63_NTYTtWHCBU2r4_2PD7Shg&usqp=CAU);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:  center;
 color: white;
 font-size: 20px;
 box-shadow: -11px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -11px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -11px 10px 5px 0px rgba(0,0,0,0.75);

}
.Onitsukatiger:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transition-duration: 0.5s;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.footerForm{
  font-size: smaller;
 color: white;;
  height: 50px;
  background-color: transparent;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  position: fixed;
}
.ProdImage{
  width: 75px !important;
  height: 75px;
}
.AddCart{
  border-radius: 150px !important;
  width: 250px!important;
  border-color: dark;
}
.PromoSale{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(36,36,55,1) 35%, rgba(0,212,255,1) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:  center;
  color: aliceblue;
}
.CustomerId{
  width: 10px !important;
}
.image{
 
}
